{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="two-col-layout">
    <main class="main">
        <article class="article">

        <h1>Deck</h1>
        <p>something</p>
        </article>
    </main>

    <aside class="aside">
        <h2> Something</h2>
    </aside>
</div>
{% endblock %}