{% extends "adventure/adventure-page.html.twig" %}

{% block main %}
    <div class="cheatsheet-page">
    <h1>Bake a delicious pizza</h1>

    <p>
        Follow the instruction step by step and bake the delicious pizza. Right now you are in the kitchen.
    </p>

    <p>First, go to the garden from the kitchen.</p>
    <ul>
        <li>go south</li>
        <ul>
            <li>pick up tomato</li>
            <li>pick up capsicum</li>
        </ul>
    </ul>
    <p> Then, go to the farm from garden.</p>
    <ul>
        <li>go east</li>
        <ul>
            <li>pick up chicken</li>
            <li>pick up cheese</li>
        </ul>
    </ul>
    <p> Next, go to the pantry from the farm.</p>
    <ul>
        <li>go north</li>
        <ul>           
            <li>pick up flour</li>
            <li>pick up salt</li>
            <li>pick up yeast</li>
            <li>pick up pizza sauce</li>

        </ul>
    </ul>
    <p>Great! You have gathered almost all ingredients needed to bake a delicious pizza!</p>
    <p> Now go back to the kitchen and pick up warm water, and then bake the pizza.</p>
    <ul>
        <li>go west</li>
        <ul>
            <li>pick up warm water</li>
            <li>bake pizza</li>
        </ul>
    </ul>

    <p>Congratulations! You made it! &#128079; &#127881;</p>
    </div>
{% endblock %}