{% extends "adventure/adventure-page.html.twig" %}

{% block main %}
    <h1>Database</h1>

    <p>
    Create a page proj/about/database, and add

    - An image of an ER diagram of the tables.
    - For each table, describe in one sentence what is stored in the table.
    - Explain how you resolved any relationships between the tables.
    - Tell us if you used SQLite or another database.
    - Tell us if you did unit tests against the database.
    - Tell us if/how you succeeded in unit testing on Scrutinizer with the database.
    - Tell in your own words (about 15 sentences) about how you see the advantages, disadvantages, similarities and differences between ORM and the way we worked with the database in the database course.
    </p>
{% endblock %}