// code
code {
    border-radius: 5px;
    padding: 0.25em;
    font-family: 'Roboto Mono', monospace;
    background-color: #dddddd;
}

.code-block {
    display: block;
    background-color: #ada8a8;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Roboto Mono', monospace;
    border-radius: 5px;
}

.cols-2 {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin: 2em;
}

.flex-col1 {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.flex-center {
    justify-content: center;
}

.message-box {
    margin: 1rem;
    padding: 1rem;
    width: 90%;
    border-radius: 5px;
    font-size: $base-font-size * 1.3;
}

.info {
    background-color: #bce5f8;
}

.success {
    background-color: #dbf7ab;
}

.warning {
    background-color: #fffac0;
}

.error {
    background-color: #ee4d4d;
}

