/** footer.css */
.footer {
    color: #FFF;
    padding: 0.5em 1em;
    // position: relative;
    position: fixed;
    height: 3rem;
    width: 100%;
    background-color: #333333;
    bottom: 0;
}
