$sans-serif: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
$cursive: 'Amatic SC', cursive;

.proj-body {
    background-color: #fff7f9;
}

.proj-sidebar {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fa844d;
    background-image: linear-gradient(#fa844d, #fa5f18);

}

.proj-header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
    font-family: $cursive;
    width: 100%;
}

.proj-title {
    margin: 20px auto;

    a {
        text-decoration: none;
    }

    a:hover {
        opacity: 0.5;
    }

    img {
        max-height: 60px;
    }
}

.proj-nav {
    ul {
        margin: 0;
        padding: 0;
        padding-left: 60px;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    ul li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.proj-navlink {
    text-decoration: none;
    font-size: $base-font-size * 2;
    transition: width 2s;
}

.proj-main {
    margin: 0 15px 0 200px;
    padding: 2rem;
    color: #000;
    font-family: $sans-serif;

    h1,
    h2,
    h3 {
        margin: 0.5rem 0 1rem;
    }

    p {
        margin: 0.6rem 0;
    }
}

.proj-link {
    text-decoration: none;
    font-weight: 600;
    color: #22749a;
}

.proj-link:hover {
    font-style: bold;
    border-bottom: darken(#22749a, 20%);
}

.proj-link:visited {
    color: #42709e;
    border-bottom: 1px solid #1c1c3f;
}

.proj-footer {
    border: none;
    font-family: $sans-serif;
}

.home-page {
    margin: 150px;
}

.about-page {
    margin: 100px;
}

.cheatsheet-page {
    margin: 50px 150px;
}

.proj-button {
    margin: 1rem 0;
    padding: 0.8rem 0.9rem;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: blue;
    // background-image: linear-gradient(#fa844d, #fa5f18);
    color: white;
    font-size: $base-font-size * 1.3;
    border-radius: 10px;
}

.proj-start {
    margin-top: 1rem;
    padding: 0.8rem;
    display: block;
    margin-bottom: 0;
}

.proj-button:hover {
    background-color: darken(blue, 10%);
}

.proj-button:visited {
    color: white;
}

.proj-room {
    background-color: #c1b93f;
    height: 160px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    opacity: 0.8;
}

.proj-img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    opacity: 1;
}

.proj-basket {
    margin: 0;
    padding-left: 15%;
    display: flex;
    flex-flow: row nowrap;
    height: 150px;
    background-color: #fac748;
    // background-image: linear-gradient(yellow, #fa844d);

    div {
        padding: 0.5rem;
        height: 100%;
        width: 31%;
        background-color: #f9e9ec;
        border: 2px solid #fac748;
    }

    div img {
        height: inherit;
        width: 100%;
    }
}

.proj-basket-label {
    display: block;
    margin: 0;
    padding: 0.2rem 0.6rem;
    background-color: #fac748;
    background-image: linear-gradient(#fab54d, #fa844d);
    font-family: $cursive;
    font-weight: bold;
    text-align: right;
}

.proj-text {
    margin: 0.5rem auto 130px;
    padding-top: 80px;
    padding-left: 15%;
    width: 80%;
    font-family: $sans-serif;
    text-align: center;
    overflow: auto;
}

.proj-polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    margin-bottom: 25px;
}

.proj-center {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: bolder;
}

.proj-right {
    position: absolute;
    top: 6%;
    left: 92%;
    width: 5%;
    background-color: #f1ac4b;
    font-weight: bolder;
    color: black;
}

.proj-right:hover {
    background-color: darken(red, 10%);
}

.proj-animation {
    width: 250px;
    margin-left: 38%;
    position: relative;
    height: 35px;
    background-color: #ebe5b5ea;
    animation-name: proj-animatn;
    animation-duration: 5s;
    border-radius: 5px;
    }
      
@keyframes proj-animatn {
    from {background-color: #ebe5b5ea;}
    to {background-color: darken(#ebe5b5ea, 50%);}
}


.proj-gamebar {
    margin: 0;
    padding: 0.2rem 1rem;
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-image: linear-gradient(yellow, red);
    p {
        font-family: $cursive;
        font-size: $base-font-size * 2;
    }
}

.proj-form {
    margin: 0;
    padding-top: 0.5rem;

    * {
        height: 45px;
    }
}

.proj-input,
.proj-select {
    margin-top: 10px;
    padding: 0.4rem 0.6rem;
    font-family: $sans-serif;
    border: 1px solid #f9e9ec;
    border-radius: 0.2rem;
    box-sizing: border-box;
}

.proj-select {
    font-variant: small-caps;
    text-align: center;
    min-width: fit-content;
}

.proj-input {
    min-width: 200px;
}

.proj-input:focus {
    outline: #fac748;
}

.proj-api {
    background-color: #f8d5b6;
    padding: 2%;
    border-radius: 5px;
}

.proj-api-button {
    width: 25%; 
}

.game-page {
    width: 15%;
    padding-left: 1%; 
}

.proj-figure {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    counter-increment: figures;

    img {
        margin: 0 auto;
    }
}

.proj-fig-caption {
    margin: 1rem auto;
    width: fit-content;
    font-size: 0.8rem;
}

.proj-fig-caption::before {
    content: 'Figure -' counter(figures) ' ';
}
