{% extends "base.html.twig" %}

{% block title %}Game21{% endblock %}

{% block body %}
    <div class="card-home">

    <h1>Twenty-one</h1>

    <div>
    <p>Welcome, here you can play Twenty-one!</p>
    </div>

    <h2>Game rules</h2>
    <div>
    <p>
    In Twenty One, the goal is to get a hand with a total value closer to 21 than the bank's hand without going over 21.
    Cards 2 to 10 have the value corresponding to their number, jacks have the value 11, queens have the value 12 and kings have the value 13
    and aces can count as either 1 or 14 whichever is more beneficial to the player.
    </p>
    <p>
        The game starts by showing the empty board.
        The player gets to play first and take the first card.
        After this, the player can decide to take another card or end the game.
        The player is allowed to take at most two cards.
        If the player gets over 21, the bank wins.
        If the player gets under 21, it's the bank's turn.
        The bank can then pick one or two cards.
        The player wins if the bank gets over 21 or if player's hand is closer to 21.
        The bank wins if bank's hand is closer to 21 or if both player and bank get same points.
    </p>
    <p>
    This game was created by haco22 as part of kmom03.
    For more information on the creation of this game, visit <a href="{{ path('game_doc') }}">documentation page</a>.
    </p>
    <a class="button blue-button full-width-button" style="font-size: 1.5em;" href="{{ path('game_init') }}">Start game</a>

    </div>
    </div>

{% endblock %}