{% extends "base.html.twig" %}

{% block title %}About{% endblock %}


{% block body %}

    <div class="two-col-layout">
        <main class="main">
            <article class="article">
                <h2>MVC</h2>
                <p>The course Object-oriented web technologies (MVC) , kurskod DV1608, is taught in BTH. this course focuses on object-oriented programming techniques in the PHP programming language with the framework symfony. Unit testing, code quality and database connections with object relational mapping (ORM) are also focused in this course.<br><br></p>
                <img src="img/webtec2.png" height= "420" width= "640" alt=" Webbteknologi" class ="center">
            </article>
        </main>

        <aside class="aside">
            <h2>Course repo</h2>
            <p>The course has a course repo <a href="https://github.com/dbwebb-se/mvc">Course repo on GitHub</a> where you can ask questions and get answers.</p>
            <h2>My GitHub repo</h2>
            <p> I have <a href="https://github.com/hafsaChy/mvc">my own GitHub repo</a> where I store the tasks of different kmom.<br> </p>
        </aside>

    </div>
{% endblock %}
