{% extends "base.html.twig" %}

{% block title %}About{% endblock %}


{% block body %}

    <div class="two-col-layout">
    <aside class="aside">
        <h1>Report</h1>

        <ul>
            <li><a href="#kmom01">kmom01</a></li>
            <li><a href="#kmom02">kmom02</a></li>
            <li><a href="#kmom03">kmom03</a></li>
            <li><a href="#kmom04">kmom04</a></li>
            <li><a href="#kmom05">kmom05</a></li>
            <li><a href="#kmom06">kmom06</a></li>
            <li><a href="#kmom10">kmom10</a></li>
        </ul>
    </aside>
    <main class="main">
        <article class="article">
            <h2 id="kmom01">kmom01 </h2>
                <p>Objektorienterad programmering eller OOPs hänvisar till språk som använder objekt i programmering. Jag har erfarenhet av att arbeta med objektorienterad programmering i python. De två huvudaspekterna av OOP är klasser och objekt. Medan klassen är ritningen, är en instans av en klass ett objekt. Klasser används för att skapa användardefinierade datastrukturer. Varje klass har en konstruktör. En konstruktor låter oss initiera ett objekts egenskaper när objektet skapas. Klassen har också attribut och metoder. Ett attribut definierar en viss egenskap hos ett objekt, element eller fil. Funktioner som definieras i klass kallas metoder.</p>
                <p>I PHP definieras klass genom att använda nyckelordet <i>class</i>, följt av klassens namn och ett par måsvingar ( <i>{}</i> ). Alla dess properties och metoder går in i måsvingarna. Klassnamn måste deklareras i <i>StudlyCaps</i> och metodnamn måste deklareras i <i>camelCase</i>. Syntaxen för att definiera konstruktorn är funktionen <i>__construct()</i>. <i>Namespaces</i> används för att undvika kollisionen med andra klasser med samma namn. Jag har skrivit php-koden för att skapa rutter i src/controller-mappen. Alla template filer som ska renderas sparas i templates mappen. Templatemotorn <i>twig</i> användas här.</p>
                <p>Jag hittade alla kapitlen i artikeln "PHP The Right Way" är viktiga. Men jag vill veta mer om <i>Coding Practices, Databases, Testing</i> och <i>Templating</i> i den här artikeln. Att definiera klass i PHP, skapa rutter är min TIL i denna kmom.</p>
            <h2 id="kmom02">kmom02</h2>
            <p>kmom02</p>
            <h2 id="kmom03">kmom03</h2>
            <p>kmom03</p>
            <h2 id="kmom04">kmom04</h2>
            <p>kmom04</p>
            <h2 id="kmom05">kmom05</h2>
            <p>kmom05</p>
            <h2 id="kmom06">kmom06</h2>
            <p>kmom06</p>
            <h2 id="kmom10">kmom10</h2>
            <p>kmom10</p>
        </article>
    </main>   
</div>

{% endblock %}