{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
    <div class="card-home">
        <h1>Mixed card</h1>
        <p>Number of card: {{ deckCount }}</p>
        <div>
            {% for key, value in deckStrings %}
            <span class="card" style="color: {{deckColors[key]}}">&#{{ value }}</span>
            {% endfor %}
        </div>
        <a href="{{ path('card_home') }}">Back to game landing page</a>
    </div>
{% endblock %}