{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
    <div class="card-home">
        <h1>Draws a number of cards from the deck</h1>
        <p>Number of cards left: {{ deckCount }}</p>
        <div class="card-container">
        {% for key, value in cardStrings %}
            <span style="font-size: 100px; color: {{ cardColors[key] }}">&#{{ value }}</span>
        {% endfor %}
        </div>
        <a href="{{ path('card_home') }}">Back to game landing page</a>
        <br>
    </div>
{% endblock %}